/*CadastroStyle*/
.container_form {

    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background:#ffffff; 
    box-shadow: 1px 0px 1.2px 0px #e3e3e3; 
    border-radius:3px; 
    padding:1em;

}

.container_form h1 {
    
    font-family:'open_sansregular';
    font-size: 2.3em;
    color: #e07f00;
    border-bottom: 1px #f0eded solid;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

.form_grupo {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}

.form_grupo .legenda { 

    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

/* SUBMIT */

.submit { width:100%; float:left; }

.submit_btn {

    float: left;
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #6fcffb;
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: inherit;
    font-size: 25px;
    font-family:'open_sansregular';
    border-radius: 6px;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s;
}

.submit_btn:hover {

    background-color: #444444;
    transform: scale(1.03);

}

.dropdown {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-family: inherit;
    color: #222222;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    padding-left: 10px;
    width: 100%;
}

.form_new_input {
    display: none;
}

.radio_label,
.check_label {

    float: left;
    width: 100%;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 8px;

}


.radio_new_btn {

    position: absolute;
    left: 0;
    transform: translateY(3px);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0.2em solid #4c4c4c;

}

.radio_new_btn::after {

    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #6fcffb;
    visibility: hidden;

}

.check_new_btn {

    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border: 0.2em solid #4c4c4c;

}

.check_new_btn::after {

    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6fcffb;
    visibility: hidden;

}

.form_new_input:checked ~ .radio_label .radio_new_btn::after,
.form_new_input:checked ~ .check_label .check_new_btn::after {
 
    visibility: visible;
}

.form_new_input:checked ~ .radio_label,
.form_new_input:checked ~ .check_label {
    color: #6fcffb;
}


.form_grupo {

    width: 100%;
    margin-bottom: 20px;
    position: relative;

}

.form_input {

    font-size: 16px;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    width: 100%;
    transition: all 0.3s;

}

.form_message,
.form_message .message_input {

    width: 100%;
    float:left;

}

.form_message_label {

    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    
}


/*LoginStyle*/
.boxLogin { 

    padding:5em 0; 
    background-color:#d9d9d9; 
}

.boxLogin .content { padding:0.5em; }

.login  { 

    width:100%; 
    overflow: hidden; 
    margin:auto; 
    display:inherit; 
    background-color:#fff; 
    border-radius:4px; 
    box-shadow: 1px 0px 3px 0px #cbcbcb; 

}

.login h1 { 

    text-align:center; 
    font-family:'open_sansregular';
    font-size:1.5em; 
    border-bottom:1px #e9e9e9 solid; 
    padding:0.5em;
    background-color:#0085d5; 
    color:#ffffff; 
}

.login .padding { padding:1.5em; float:left;  }

.login label { 

    width:100%; 
    float:left; 
    margin-bottom:1em; 
}

.login .campos { 

    border-top:1px transparent solid; 
    border-left:1px transparent solid; 
    border-bottom:1px #eaeaea solid; 
    border-right:1px transparent solid; 
    color:#414141; 
    font-family:'open_sansregular';
    font-size:0.9em; 
    outline:none; 
    padding: 0.5em 0em;
    transition:0.4s; 
}

.login .campos:focus { 

    border-top:1px transparent solid; 
    border-left:1px transparent solid; 
    border-bottom:1px #0085d5 solid; 
    border-right:1px transparent solid; 
    color:#0085d5; 
}

.login .btn { 

    width:auto; 
    float:left; 
    padding:0.4em 1.3em; 
    font-family:'open_sansregular'; 
    font-size:1em; 
    background-color:#0085d5; 
    color:#fff; 
    border:0; 
    border-radius:4px;
    transition:0.4s; 

}

.login .btn:hover  { 

    background-color:#4c4c4c; 

}

.login .linksForm { 

    width:100%; 
    float:left; 
    background-color:#f6f6f6; 
    border-top:1px #e9e9e9 solid; 
    padding:1em 1.5em; 
    display:inline-block;
    transition:0.4s; 

}

.login .linksForm a { 

    float:left; 
    margin-bottom:0.5em; 
    text-decoration:none; 
    font-size:0.89em; 
    font-family:'open_sansregular'; 
    color:#868686; 
    margin-right:10px;
    border-right:1px #d9d9d9 solid;
    padding-right:10px;
    transition:0.4s ;

}

.login .linksForm a:last-child { 

    border-right:0;
    padding-right:0px;

}

.login .linksForm a:hover { color:#ffa700; }

/*Responsivo*/
/*480PX BREAKPOINT*/
@media (min-width:30em){

.login  { width:50%; }

}

/*768PX BREAKPOINT*/
@media (min-width:48em){

.login  { width:35%; }
.login .linksForm a { font-size:0.9em; }

} 